.imageItem {
	position: relative;
	z-index: 1;
	float: left;
	border: 1px solid #333;
	margin: 0 20px 20px 0;

	&.dragging {
		// @include box-shadow(0 0 10px rgba(0, 0, 0, 0.6));
		position: absolute;
		z-index: 100;
	}
	img {
		display: block;
		cursor: pointer;
	}
}